// Reset


// Helpers

// Tools
@import "tools/_variables";
@import "tools/_animations";
@import "tools/_text";
@import "tools/_ui";

// Components

@import "components/_worldmap";
@import "components/_madamap";
@import "components/_makaymap";
@import "components/_cursorBox";
@import "components/_frame";
@import "components/_charts";



body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-backface-visibility: hidden;

  font-family: 'Lora', serif;
  background-color: black;

  //background: -moz-radial-gradient(center, ellipse cover, rgba(247,230,212,0) 0%, rgba(247,230,212,1) 100%);
  //background: -webkit-radial-gradient(center, ellipse cover, rgba(247,230,212,0) 0%,rgba(247,230,212,1) 100%);
  //background: radial-gradient(ellipse at center, rgba(247,230,212,0) 0%,rgba(247,230,212,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7e6d4', endColorstr='#f7e6d4',GradientType=1 );

  //background-image: url('images/fond_2.jpg');
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: cover;
}

.template{
  display: none!important;
}
.gradient-bg{

  background: -moz-radial-gradient(center, ellipse cover, #FFFDFD 0%, #f7e6d4 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #FFFDFD 0%,#f7e6d4 100%);
  background: radial-gradient(ellipse at center, #FFFDFD 0%, #f7e6d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFDFD', endColorstr='#f7e6d4',GradientType=1 );
}
.black-bg{
  background-color: black;
}

svg, .svg-container{
  backface-visibility: hidden;
}

footer{
  text-align: right;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 900;

  a{
    padding: 10px;
    background-color: white;
    color: $color_ui_5;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display:inline-block;
  }
}

#infos{

  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-50%);
  background-color:white;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);

  width: 50%;
  display: none;

  &:target{
    display:block;
  }
  h2{
    text-align: center;

  }
  a{
    color: $color_ui_2;
  }
  hr{
    width: 50px;
    margin-left: 0;
    border: none;
    height: 1px;
    background-color: #444;
  }
  .close{
    position: absolute;
    top: 5px;
    right: 5px;
    color: $color_ui_4;
    font-weight: bold;
    border: 1px solid $color_ui_4;
    padding: 5px;
    text-decoration: none;
  }
  img{
    display: inline-block;
    margin: 0 20px;
  }
}