@keyframes animatedBubble {
  0%{
    stroke-opacity: 1;
    stroke-width: 0;
  }
  50%{
    stroke-opacity: 0;
    stroke-width: 40;
  }
  100%{
    stroke-opacity: 0;
    stroke-width: 40;
  }
}
@keyframes makay {
  0%{
    stroke-opacity: 1;
    stroke-width: 0;
  }
  50%{
    stroke-opacity: 0;
    stroke-width: 100;
  }
  100%{
    stroke-opacity: 0;
    stroke-width: 100;
  }
}
@keyframes pop {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}